//变量名 $ 开头
$width: 300px;
$height: 300px;
$color: #e03434;



//默认 !default
//同一个变量定义两次，后一次会自动覆盖前一次。 但是加了 !default 哪怕出现在后面 也不会覆盖
$baseWidth: 100px;
$baseWidth: 200px;
$baseWidth: 300px !default;
.div2{
  width: $baseWidth;     // 200px
  height: $baseWidth;    // 200px
  background-color: $color;
}

$str : 'hello.jepg';
$strNoQout: abc;
$class: '.div';
$styleKey: 'height';
#{$class} {       // 类名也可以拼接
  width: $width;
  #{$styleKey}: $height;    // 属性名拼接
  background-image: url("./img/" + $str);   // 字符串拼接
  background-image: url("./img/" + $strNoQout);   // 字符串变量没有引号 也可以
  background-image: url("./img/#{$strNoQout}");   // 模板字符串
}


// 变量作用域
$width: 300px;
.div{
  height: 300px;
  $widthInner: 100px;
  width: $widthInner;   // 可以作用于自己的作用域
}
.div2{
  width: $widthInner;   // 不能引用另一个作用域内的变量
}

// import
// 以下四种import情况，不会编译。   1.结尾 .css      2.开头  http://   3. url()   4.  media queries
