/*nav-site*/
    .nav-site{
        width: 100%;
        background-color: #f3f5f7;
    }
    .nav-site .container{
        height: 44px;
        line-height: 44px;
        border-bottom: 1px solid #cdd0d4;
    }
    .nav-site-login{
        margin-left: 15px;
        color: #f01414;
    }
    .nav-site-mobile,
    .nav-site-signup{
        margin-left: 10px;
    }
    .nav-site-category{
        margin: 0 10px;
    }
    .nav-site-service{
        margin-right: 15px;
    }
    .nav-site-mobile{
        margin-left: 10px;
    }

    /*采用组件实现下拉菜单，下拉菜单样式保存在common.css中*/
    /*!*dropdown*!*/
    /*.dropdown{*/
    /*    position: relative;*/
    /*}*/
    /*.dropdown-toggle{*/
    /*    position: relative;*/
    /*    z-index: 2;*/
    /*    display: block;*/
    /*    height: 100%;*/
    /*    padding: 0 16px 0 12px;*/
    /*    border-left: 1px solid #f3f5f7;*/
    /*    border-right: 1px solid #f3f5f7;*/
    /*}*/
    /*.dropdown-arrow{*/
    /*    display: inline-block;*/
    /*    width: 8px;*/
    /*    height: 6px;*/
    /*    background: url("img/dropdown-arrow.png") no-repeat;*/
    /*    margin-left: 8px;*/
    /*    vertical-align: middle;*/
    /*}*/
    /*.dropdown-layer{*/
    /*    display: none;*/
    /*    position: absolute;*/
    /*    z-index: 1;*/
    /*    top: 43px;*/
    /*    background: #FFFFFF;*/
    /*    border: 1px solid #cdd0d4;*/
    /*}*/
    /*.dropdown-left{*/
    /*    left: 0;*/
    /*    right: auto;*/
    /*}*/
    /*.dropdown-right{*/
    /*    right: 0;*/
    /*    left: auto;*/
    /*}*/
    /*.dropdown-item{*/
    /*    display: block;*/
    /*    height: 30px;*/
    /*    line-height: 30px;*/
    /*    padding: 0 12px;*/
    /*    color: #4d555d;*/
    /*    white-space: nowrap;   !*不能换行*!*/
    /*}*/
    /*.dropdown-item:hover{*/
    /*    background: #f3f5f7;*/
    /*}*/
    /*!*只用css解决下拉菜单组件*!*/
    /*!*.dropdown:hover .dropdown-toggle{*!*/
    /*!*    background: #ffffff;*!*/
    /*!*    border-color: #cdd0d4;*!*/
    /*!*}*!*/
    /*!*.dropdown:hover .dropdown-arrow {*!*/
    /*!*    background: url("img/dropdown-arrow-active.png");*!*/
    /*!*}*!*/
    /*!*.dropdown:hover .dropdown-layer{*!*/
    /*!*    display: block;*!*/
    /*!*}*!*/
    /*!*用js控制增加class属性，来实现下拉菜单*!*/
    /*.dropdown-active .dropdown-toggle{*/
    /*    background: #ffffff;*/
    /*    border-color: #cdd0d4;*/
    /*}*/
    /*.dropdown-active .dropdown-arrow {*/
    /*    background: url("img/dropdown-arrow-active.png");*/
    /*}*/
    /*.dropdown-active .dropdown-layer{*/
    /*    display: block;*/
    /*}*/

/* header search  */
.header{
    width: 100%;
    height: 124px;
    background-color: #f3f5f7;
}
.header .search,
.header .cart,
.header-logo{
    margin-top: 36px;
}
.header-logo{
    display: block;
    width: 136px;
    height: 48px;
    background: url("../img/header-logo.png") no-repeat;
    margin-left: 15px;
}
.header .search{
    margin-left: 145px;
}

/*nav-main  */
.nav-main{
    width: 100%;
    height: 48px;
    background-color: #07111b;
    margin-bottom: 8px;
    /*首行缩进   可以达到让第一个link 前面边距长一些*/
    text-indent: 182px;
}

.nav-main .link{
    color: #fff;
    font-size: 14px;
    line-height: 48px;
    margin-left: 50px;
}

/*focus*/
.focus{
    width: 100%;
    height: 504px;
    background-color: #eee;
    margin-bottom: 8px;
}
.focus-sidebar{
    width: 250px;
}
.focus-news{
    padding: 7px 20px 12px;
    background-color: #fff;
    border: 1px solid #d9dde1;
    border-bottom: none;
}
.focus-news-head{
    height: 38px;
    line-height: 38px;
}
.focus-news-title{
    color: #f01414;
    font-size: 16px;
}
.focus-news-body{
    line-height: 28px;
}
.focus-service{
    background-color: #fff;
    border: 1px solid #d9dde1;
}
.focus-service-item{
    width: 61px;
    height: 71px;
    border-top: 1px solid #d9dde1;
    border-right: 1px solid #d9dde1;
    text-align: center;
}
.focus-service-text,
.focus-service-icon{
    display: block;
    width: 100%;
}
.focus-service-icon{
    margin-top: 17px;
    color: #f67272;
    font-size: 22px;
}
.focus-service-text{
    margin-top: 6px;
    color: #4d555d;
}
.focus-ad{
    width: 100%;
    height: 90px;
    background: url(../img/focus-ad.png) 0 0 no-repeat;
}
.focus .slider{
    margin-left: 8px;
}

/*todays recommend*/
.todays .container{
    width: 1215px;
}
.todays .slider{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 158px;
    margin-bottom: 10px;
}
.todays .slider-img{
    width: 240px;
}

/*floor*/
.floor{
    height: 532px;
    margin-bottom: 10px;
}
.floor .container{
    position: relative;
    z-index: 1;
}
.floor-head{
    height: 68px;
    border-bottom: 1px solid #f01414;
}
.floor-title{
    margin-top: 22px;

}
.floor-title-num{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: #07111b;
    margin-right: 12px;
    color: #fff;
    text-align: center;
}
.floor-title-text{
    position: relative;
    top: 3px;
    color: #07111b;
    font-size: 20px;
}
.floor-body{
    height: 464px;
}
.floor-item{
    height: 232px;
    width: 200px;
    text-align: center;
}
.floor-item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.floor-item-pic{
    margin-top: 24px;
}
.floor-item-name{
    margin-top: 24px;
}
.floor-item-name .link{
    color: #07111b;
}
.floor-item-price{
    margin-top: 11px;
    color: #f01414;
    font-size: 14px;
    font-weight: bold;
}
.floor-head .tab-item-wrap{
    height: 62px;
    line-height: 62px;
    margin-top: 7px;
}
.floor-head .tab-item{
    display: inline-block;
    margin-top: 1px;
    margin-right: 16px;
    color: #93999f;
    font-size: 14px;
}
.floor-head .tab-item-active{
    background: url("../img/floor-arrow.png") no-repeat center bottom;
    color: #f01414;
}
.floor-divider{
    width: 1px;
    height: 14px;
    background: #d9dde1;
    margin: 22px 16px 0 0;
}
.floor-body .tab-panel{
    display: none;
}

/*elevator*/
.elevator{
    /*将电梯紧贴楼层，不会因为放大缩小页面而改变电梯的位置*/
    /*最好可以用相对定位，电梯相对于楼层定位，可是此处电梯需要fixed，绝对定位只能相当于可视窗口定位。*/
    /*另一种解决办法是，用js动态计算楼层最左边与可视窗口边框的位置，然后确定电梯的位置*/
    /*还有就是此处，我们将电梯父容器设置为container，让其水平方向跟楼层一样，再偏移出去楼层宽度的距离，就可以。 但是要注意，此处会覆盖下面的内容，需要将下面的内容z-index提高*/
    position: fixed;
    display: none;
    left: 50%;
    margin-left: -640px;
    top: 50%;
    margin-top: -90px;
}
.elevator-item{
    display: block;
    width: 24px;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #d9dde1;
    text-align: center;
    color: #4d555d;
}
.elevator-item:hover,
.elevator-active{
    color: #f01414;
}
.elevator-text{
    display: none;
}
.elevator-item:hover .elevator-num,
.elevator-active .elevator-num{
    display: none;
}
.elevator-item:hover .elevator-text,
.elevator-active .elevator-text{
    display: block;
}

/*toolbar*/
.toolbar{
    position: fixed;
    z-index: 2;
    right: 0;
    top: 50%;
    margin-top: -102px;
}
.toolbar-item{
    /*里面的文字会相对父容器移动*/
    position: relative;
    display: block;
    width: 40px;
    height: 40px;line-height: 40px;
    margin-bottom: 1px;
    color: #fff;
    text-align: center;
}
.toolbar-icon{
    position: relative;
    z-index: 2;
    display: block;
    background-color: #b7bbbf;
    font-size: 30px;

}
.toolbar-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 62px;
    height: 40px;
}
.toolbar-item:hover .toolbar-icon{
    background-color: #71777d;
}
.toolbar-item:hover .toolbar-text{
    /*text的transition类属性加上偏移  形成了文字弹出的动画效果*/
    left: -62px;
    background-color: #71777d;
}

/*footer*/
.footer {
    border-top: 1px solid #d9dde1;
    height: 102px;
    padding-top: 36px;
}
.footer-item{
    width: 240px;
    height:65px;
    padding: 0 30px 0 30px;
    display: inline-block;
}
.footer-title{
    font-size: 14px;
    display: block;
    color: #000000;
    margin-bottom: 17px;
}
.footer-text{
    font-size: 11px;
    margin-right: 22px;
    display: inline-block;
    color: #93999f;
    margin-bottom: 12px;
}
.footer-text:hover {
    color: #f01414;
}

/*bottom*/
.bottom{
    text-align: center;
    height: 102px;
    background-color: #f3f5f7;
}
.bottom-text{
    padding-top: 33px;
    font-size: 11px;
}
.bottom-item{
    font-size: 10px;
    margin-right: 16px;
    color: #93999f;
}
.bottom-item:hover{
    color: #000;
}
.bottom-copyright{
    margin-top: 13px;
    color: #93999f;
}
